spamass_milter_socket="{{ _spamassassin_config.milter.socket_path }}"
spamass_milter_localflags=" {{ _milter_local_flags }}"
spamass_milter_socket_owner="{{ _spamassassin_config.milter.owner }}"
spamass_milter_socket_group="{{ _spamassassin_config.milter.group }}"
spamass_milter_socket_mode="{{ _spamassassin_config.milter.socket_mode }}"

spamd_flags="{{ _spamd_local_flags }}"
